<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/pagination.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>订单管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 订单查询 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <div class="text-c">
            <form method="post" action="order_list">
                <input th:value="${serchno}" type="text" class="input-text" style="width:250px" placeholder="订单编号" id="serchno" name="serchno">
                <input th:value="${serchuser}" type="text" class="input-text" style="width:250px" placeholder="下单用户" id="serchuser" name="serchuser">
                <input th:value="${serchhoser}" type="text" class="input-text" style="width:250px" placeholder="接单骑手" id="serchhoser" name="serchhoser">
                <button type="submit" class="btn btn-success radius" name=""><i class="Hui-iconfont">&#xe665;</i> 搜~</button>
            </form>
        </div>
        <!--日期范围：-->
        <!--<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">-->
        <!-- - -->
        <!--<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">-->
        <!--<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">-->
        <!--<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>-->
    </div>
    <!--<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="member_add('添加用户','member_add','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a></span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>-->
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th width="100">No.</th>
                <th width="40">下单用户</th>
                <th width="40">接单骑手</th>
                <th width="80">金额</th>
                <th width="130">地址</th>
                <th width="40">物件数</th>
                <th width="130">备注</th>
                <th width="130">下单时间</th>
                <th width="130">完成时间</th>
                <th width="70">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" th:each="o:${pages.list}">
                <td><input type="checkbox" value="1" name=""></td>
                <td th:text="${o.id}"></td>
                <td th:text="${o.orderno}"></td>
                <td><u th:text="${o.username}" style="cursor:pointer" class="text-primary" th:onclick="show([[${o.username}]],[[${o.userid}]],[[${o.userTelephone}]])"></u></td>
                <td><u th:text="${o.hosermanName}" style="cursor:pointer" class="text-primary" th:onclick="show([[${o.hosermanName}]],[[${o.hosermanid}]],[[${o.hosermainPhone}]])"></u></td>
                <td th:text="${o.totalAmount}"></td>
                <td th:text="${o.targetAddress}"></td>
                <td th:text="${o.commentNum}"></td>
                <td th:text="${o.note}"></td>
                <td th:text="${#dates.format(o.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(o.endTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td class="td-status" th:if="${o.status eq 1}"><span class="label label-danger radius">未被接单</span></td>
                <td class="td-status" th:if="${o.status eq 2}"><span class="label label-warning radius">正在派送</span></td>
                <td class="td-status" th:if="${o.status eq 3}"><span class="label label-success radius">已完成</span></td>
            </tr>
            <tr style="height: 50px;">
                <td style="text-align: center" colspan="10">

                    <a class="yb-reward-history__pagination"  th:href="@{order_list(indexpage=${pages.prePage},serchno=${serchno},serchuser=${serchuser},serchhouse=${serchhouse})}">上一页</a>
                    <a class="yb-reward-history__pagination" th:href="@{order_list(indexpage=1,serchno=${serchno},serchuser=${serchuser},serchhouse=${serchhouse})}">1</a>
                    ...
                    <a th:each="p:${pages.navigatepageNums}" th:text="${p}"  th:href="@{order_list(indexpage=${p},serchno=${serchno},serchuser=${serchuser},serchhouse=${serchhouse})}" class="yb-reward-history__pagination"></a>
                    ...<a th:text="${pages.pages}" th:href="@{order_list(indexpage=${pages.pages},serchno=${serchno},serchuser=${serchuser},serchhouse=${serchhouse})}" class="yb-reward-history__pagination"></a>
                    <a class="yb-reward-history__pagination"  th:href="@{order_list(indexpage=${pages.nextPage},serchno=${serchno},serchuser=${serchuser},serchhouse=${serchhouse})}" >下一页</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    function show(name,id,phone){
        layer.alert('用户名:'+name+'   用户ID:'+id+'   用户电话'+phone);
    }

</script>
</body>
</html>